h1{
    color:darkblue;
    size:medium;
    text-align: center;
    margin-left: auto;
  margin-right: auto;


}
#warning{
    color:red;
    font-style: italic;
    margin-left: auto;
  margin-right: auto;



}
table {
    order-collapse: collapse;
    text-align: center;

      margin-right: auto;

}
td:nth-child(odd){
    background-color: green
} 
table, th, td {
    border: 1px solid black;

  }